<!-- List Users Page -->
<div class="container mt-5">
    <h2>User List</h2>
    <table class="table" id="users-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{lastname}}</td>
                <td>{{username}}</td>
                <td>{{password}}</td>
                <td>{{email}}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="edit/{{id}}">Edit</a>
                    <a class="btn btn-danger btn-sm"  href="delete/{{id}}">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<!-- List Users Page -->